// === COLORI ===
$text-color: #222222;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #6285f9;
$link-color: $secondary-color;
$menu-item-color: white;
// === FONTS ===
$text-font: "Roboto",
Arial,
sans-serif;
$headline-font: "Open Sans",
Georgia,
serif;
// === DIMENSIONI ===
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;